.home-bg {
  background: url('../img/evening-sunflowers-2k.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 40em; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.about-bg {
  background: url('../img/hands-in-air.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 40em; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.aims-bg {
  background: url('../img/leaves-on-line-2k.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 40em; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.team-bg {
  background: url('../img/leaf-in-sun-2k.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 40em; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.getinvolved-bg {
  background: url('../img/hands-butterfly-2k.jpg') no-repeat center -130px;
  position: fixed;
  width: 100%;
  height: 40em; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.contact-bg {
  background: url('../img/plane-sunset-2k.jpg') no-repeat 0px center;
  position: fixed;
  width: 100%;
  height: 40em; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  height: 40em;
  color: white;
  text-shadow: #444 0 0px 10px;
  background: rgba(0, 0, 0, 0.0);
}

.jumbotron p {
  font-size: 24px;
}

.logo {
  width: 27em;
  height: auto;
}

.logo-sm {
  width: 100%;
  height: auto;
}

.btn-getinvolved {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight:normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 0px solid;
  color: #fff;
  background-color: #759dc4;
  border-color: #D1D3D4;
}

.btn-getinvolved:hover {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight:normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 0px solid;
  color: #fff;
  background-color: rgb(100, 138, 175);
  border-color: #D1D3D4;
}

.send-form-button {
  margin-top: 1em;
}

.divcontact-dropin {
  background-color: #D1D3D4;
  margin-top: -1px;
  border-radius: 6px;
  color: #000;
  text-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

html {
  height: 100%;
}

.sogive-gradient {    
  background: rgb(255,250,67,0.7) 40%;
  background: -moz-linear-gradient(top,  rgba(200,232,71,0.53) 0%, rgba(255,250,67,0.7) 40%, rgba(232,214,70,0.6) 100%);
  background: -webkit-linear-gradient(top,  rgba(200,232,71,0.53) 0%, rgba(255,250,67,0.7) 40%, rgba(232,214,70,0.6) 100%);
  background: linear-gradient(to bottom,  rgba(200,232,71,0.53) 0%, rgba(255,250,67,0.7) 40%, rgba(232,214,70,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C8E847', endColorstr='#FFFA43',GradientType=0 );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  top: 0;
  left: 0;
}

#page-contents {
  min-height:500px;
  font-size:120%;
}

img.mugshot {
  width:140px;
  float:left;
  margin:10px;
}
h2 {
  clear:both;
}
/*#page-part1 {
  background-image:  url("http://www.sead.org.uk/wp-content/uploads/armed-with-peer-reviewed-sc.jpg");
}
#page-part2 {
  background-image:  url("http://www.sead.org.uk/wp-content/uploads/climate-action_085.jpg");
}*/

.footer { 
  margin-top: 25px;
  border-top: 1px solid #333;
  padding-top:25px;
  background-color: rgba(255, 255, 255, 0.7);
  width:100%;
}


/* DESIGN SKETCHES */

.donation, .charity, .project, .impact, .recipient {
  border: solid 1px gray;
  border-radius: 5px;
}
.donation {
  display:flex;
}
.charity {
  width:20%;
}
.project {
  width:40%;  
}
.recipient {
  width:20%;  
}
.impact {
  width:18%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.black-btn {
  color: #101010;
}

.transparent-bg {
  background-color: rgba(255,255,255,0.4);
}

@media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
}

.btn-getemailupdates {
  background-color: rgba(255,255,255,0.0);
  border: 1px solid rgba(16, 16, 16, 0.14);
}

.btn-getemailupdates:hover {
  background-color: rgba(255,255,255,0.5);
}

.nav>li>a {
  font-size: 14px;
}

.bumped-down {
  margin-top: 2em;
}