.bgblock {
	width:100%;
}

.home-bg {
  background: url('../img/evening-sunflowers-2k.jpg') no-repeat center center;
}

.about-bg {
  background: url('../img/hands-in-air.jpg') no-repeat center center;
}

.aims-bg {
  background: url('../img/leaves-on-line-2k.jpg') no-repeat center center;
}

.team-bg {
  background: url('../img/leaf-in-sun-2k.jpg') no-repeat center center;
}

.getinvolved-bg {
  background: url('../img/hands-butterfly-2k.jpg') no-repeat center -130px;
}

.contact-bg {
  background: url('../img/plane-sunset-2k.jpg') no-repeat 0px center;
}

.faq-bg {
  background: url('../img/evening-sunflowers-2k.jpg') no-repeat center center;
}

.privacy-bg {
  background: url('../img/evening-sunflowers-2k.jpg') no-repeat center center;
}

.terms-bg {
  background: url('../img/evening-sunflowers-2k.jpg') no-repeat center center;
}

.volunteering-bg {
  background: url('../img/girls_water_splash_lg.jpg') no-repeat center center;
}

.careers-bg {
  background: url('../img/plane-sunset-2k.jpg') no-repeat 0px center;
}

.forfoundations-bg {
  background: url('../img/girls_water_splash_lg.jpg') no-repeat center center;
}

.forcompanies-bg {
  background: url('../img/leaves-on-line-2k.jpg') no-repeat center center;
}

.forprivatebanks-bg {
  background: url('../img/hands-in-air.jpg') no-repeat center center;
}

.halloffame-bg {
  background: url('../img/hands-in-air.jpg') no-repeat center center;
}

.jumbotron {
  height: 40em;
  color: white;
  text-shadow: #444 0 0px 10px;
  background: rgba(0, 0, 0, 0.0);
}

.jumbotron p {
  font-size: 24px;
}

.logo {
  width: 27em;
  height: auto;
}

.logo-sm {
  width: 100%;
  height: auto;
}

.btn-getinvolved {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight:normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 0px solid;
  color: #fff;
  background-color: #759dc4;
  border-color: #D1D3D4;
}

.btn-getinvolved:hover {
  display: inline-block;
  margin-top: 0.5em;
  margin-bottom: 0;
  font-weight:normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  background-image: none;
  border: 0px solid;
  color: #fff;
  background-color: rgb(100, 138, 175);
  border-color: #D1D3D4;
  text-decoration: none;
}

.send-form-button {
  margin-top: 1em;
}

.divcontact-dropin {
  background-color: #D1D3D4;
  margin-top: -1px;
  border-radius: 6px;
  color: #000;
  text-shadow: none;
  padding-top: 1em;
  padding-bottom: 1em;
}

.sogive-gradient {    
  background: rgb(255,250,67,0.7) 40%;
  background: -moz-linear-gradient(top,  rgba(200,232,71,0.53) 0%, rgba(255,250,67,0.7) 40%, rgba(232,214,70,0.6) 100%);
  background: -webkit-linear-gradient(top,  rgba(200,232,71,0.53) 0%, rgba(255,250,67,0.7) 40%, rgba(232,214,70,0.6) 100%);
  background: linear-gradient(to bottom,  rgba(200,232,71,0.53) 0%, rgba(255,250,67,0.7) 40%, rgba(232,214,70,0.6) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C8E847', endColorstr='#FFFA43',GradientType=0 );
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  top: 0;
  left: 0;
}

#page-contents {
  min-height:500px;
  font-size:120%;
}

img.mugshot {
  width:140px;
  float:left;
  margin:10px;
}
h2 {
  clear:both;
}

.footer { 
  margin-top: 25px;
  border-top: 1px solid #333;
  padding-top:25px;
  background-color: rgba(255, 255, 255, 0.7);
  width:100%;
}


/* DESIGN SKETCHES */

.donation, .charity, .project, .impact, .recipient {
  border: solid 1px gray;
  border-radius: 5px;
}
.donation {
  display:flex;
}
.charity {
  width:20%;
}
.project {
  width:40%;  
}
.recipient {
  width:20%;  
}
.impact {
  width:18%;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
}

.black-btn {
  color: #101010;
}

.transparent-bg {
  background-color: rgba(255,255,255,0.4);
}

@media (min-width: 768px) {
        .navbar .navbar-nav {
            display: inline-block;
            float: none;
        }
        
        .navbar .navbar-collapse {
            text-align: center;
        }
}

.btn-getemailupdates {
  background-color: rgba(255,255,255,0.0);
  border: 1px solid rgba(16, 16, 16, 0.14);
}

.btn-getemailupdates:hover {
  background-color: rgba(255,255,255,0.5);
}

.nav>li>a {
  font-size: 14px;
}

.bumped-down {
  margin-top: 2em;
}

.btn-accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.btn-accordion:hover {
    background-color: #ddd; 
}

.btn-accordion:active {
  background-color: #648AAF;
}

.btn-accordion:focus {
  background-color: #648AAF;
  color: white;
}

div.panel {
    display: none;
}

div.panel.show {
  display: block !important;
}

.list-group-item {
  display: list-item;
}

.font-18 {
  font-size: 18;
}

ul {
  font-size: 14px;
  text-align: justify;
  color: #777;
}

ol {
  font-size: 14px;
  text-align: justify;
  color: #777;
}

.sogive-text-body {
  text-align: justify;
  color: #777;
  font-size: 14px;
}

.sogive-text-body-centered {
  text-align: center;
  color: #777;
  font-size: 14px;
}

.volunteering-header-tagline {
  text-align: center;
  font-size: 14px;
  color: #2B2B2B;
}

.volunteering-header {
  text-align: center;
  font-size: 18px;
  color: #777;
}

.volunteering-body {
  text-align: justify;
  font-size: 14px;
  color: #777;
}

.font-black {
  color: #000;
}

.fa-spaced {
  padding-right: 8px;
  padding-left: 8px;
}

.fa-spaced-sm {
  padding-right: 4px;
  padding-left: 4px;
}

.lightest-grey {
  color: rgb(191, 191, 191);
}

.dark-font {
  color: #2B2B2B;
}

.desktopvideoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.desktopvideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.mobilevideoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.mobilevideoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
}

.big-diagram {
  width: 90%;
  height: auto;
}

.impact-image {
  width: auto;
  max-height: 525px;
}

.dashboard-image {
  width: 100%;
  height: auto;
}

hr {
  border-width: 1px;
  border-style: inset;
  color: #777;
}

.inline-text-icon {
  width: 3em;
  height: auto;
}

.bluehighlight {
  background-color: rgba(100, 138, 175, 0.51);
}

.faq-image {
  width: 100%;
  height: auto;
}

.img-fit {
  width: 100%;
  height: auto;
}